html {
    background-color:white;
    
       
}

body {
    width: 700px;
    margin: 0 auto ;
    background-color: #00008B;
    padding: 0 0px 80px 0px;
    height: 1900px;
}

img {
    width: 350px;
    height: 250px;
} 

.center{
    text-align: center;
}

html h1 {
    font-size: 30px;
    line-height: 80px;
    color: white;
    text-align: center;
}




html h2 {
    height: 100px;
    line-height: 100px;
    width: 120px;
    padding: 0 100px 250px 100px;
    margin: 0 auto;
    border: 1px solid white;
    

    
    
}

.text {
    color: white;
    text-align: center;
    font-size: 25px;
    
    
}

.ins{
    color: white;
    font-size: 20px;
    line-height: 25px; 
    
}


h3 img {
    height: 300px ;
    line-height: 180px;
    max-width: 100%;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}

html h4 {
    height: 100px;
    line-height: 100px;
    width: 120px;
    padding: 0 100px 250px 100px;
    margin: 0 auto;
    border: 1px solid white;
    


}

.lim{
    color: white;
    text-align: center;
    font-size: 20px;
}

.lpzbd {
    color: white;
    font-size: 20px;
    line-height: 20px;
   
}

h6 img {
    text-align: center;
    width: 30px;
    height: 30px;
    
}


a{
    width: 30px;
    height: 30px;
    color: white;
    text-decoration: none;
    
    
  }


footer {
    color: white;
    font-size: 15px;
    background-color: #00008B;
}

h5 img {
    height: 300px ;
    line-height: 180px;
    max-width: 100%;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
}

@media(max-width: 450px){

    html {
        background-color:white;
        
           
    }
    
    body {
        width: 400px;
        margin: 0 auto ;
        background-color: #00008B;
        padding: 0 0px 80px 0px;
        height: 1900px;
    }
    
    img {
        width: 300px;
        height: 200px;
    } 
    
    .center{
        text-align: center;
    }
    
    html h1 {
        font-size: 20px;
        line-height: 80px;
        color: white;
        text-align: center;
    }
    
    
    
    
    html h2 {
        height: 100px;
        line-height: 100px;
        width: 120px;
        padding: 0 70px 150px 70px;
        margin: 0 auto;
        border: 1px solid white;
        
    
        
        
    }
    
    .text {
        color: white;
        text-align: center;
        font-size: 15px;
        
        
    }
    
    .ins{
        color: white;
        font-size: 20px;
        line-height: 15px; 
        
    }
    
    
    h3 img {
        height: 120px ;
        line-height: 180px;
        width: 200px;
        border: 2px solid white;
        display: block;
        margin: 0 auto;
    }
    
    html h4 {
        height: 100px;
        line-height: 100px;
        width: 120px;
        padding: 0 70px 150px 70px;
        margin: 0 auto;
        border: 1px solid white;
        
    
    
    }
    
    .lim{
        color: white;
        text-align: center;
        font-size: 15px;
    }
    
    .lpzbd {
        color: white;
        font-size: 15px;
        line-height: 13px;
       
    }
    
    h6 img {
        text-align: center;
        width: 15px;
        height: 15px;
        
    }
    
    
    a{
        width: 1px;
        height: 1px;
        color: white;
        text-decoration: none;
        
        
      }
    
    
    footer {
        color: white;
        font-size: 15px;
        background-color: #00008B;
    }
    
    h5 img {
        height: 120px ;
        line-height: 180px;
        width: 200px;
        border: 2px solid white;
        display: block;
        margin: 0 auto;
    }

}











